dist: xenial
sudo: required
language: rust
rust:
  - nightly
  - beta
  - stable
services:
  - mysql
env:
  global:
    - DATABASE_URL=mysql://root:password@127.0.0.1:3306/mysql
before_install:
  - sudo bash -c "echo '[mysqld]' >> /usr/share/mysql/my-default.cnf"
  - sudo bash -c "echo 'sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES' >> /usr/share/mysql/my-default.cnf"
  - sudo mysql -h127.0.0.1 -e "use mysql; update user set authentication_string=PASSWORD('password') where User='root'; FLUSH PRIVILEGES;"
  - sudo mysql_upgrade --protocol=tcp -P 3306 -u root -ppassword
  - sudo service mysql restart
  - sudo mysql -h127.0.0.1 -uroot -ppassword -e "SET GLOBAL max_allowed_packet=33554432;"
before_script:
  - export PATH="$PATH:$HOME/.cargo/bin"
  - rustup component add rustfmt
script:
  - cargo test
  - cargo test --features ssl
  - cargo fmt -- --check

