[package]
authors = ["blackbeam <aikorsky@gmail.com>"]
description = "Tokio based asynchronous MySql client library."
documentation = "http://blackbeam.org/mysql_async/mysql_async/"
keywords = ["mysql", "database", "asynchronous", "async"]
license = "MIT/Apache-2.0"
name = "mysql_async"
readme = "README.md"
repository = "https://github.com/blackbeam/mysql_async"
version = "0.11.1"

[dependencies]
bit-vec = "0.4"
byteorder = "1"
error-chain = "0.11"
fnv = "1"
futures = "0.1"
mio = "0.6"
mysql_common = "0.4"
native-tls = { path = "../rust-native-tls", optional = true }
regex = "0.2"
serde = "1"
serde_json = "1"
tokio-core = "0.1"
tokio-io = "0.1"
tokio-tls = { path = "../tokio-tls", optional = true }
twox-hash = "1"
url = "1"

[dev-dependencies]
lazy_static = "0.2"

[features]
nightly = []
ssl = ['native-tls', 'tokio-tls']

[lib]
name = "mysql_async"
path = "src/lib.rs"
